*, html, body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #0D3B66;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 80px;
    margin-bottom: 32px;
}

.body {
    width: 100%;
    display: flex;
}

.content {
    flex: 2;
    height: 680px;
}

.profile {
    flex: 1;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.profile-name {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 32px;
}

.profile-data {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.profile-data-table {
    border-collapse: collapse;
}

.profile-data-table thead tr {
    background-color: #f4d35e;
    color: #ffffff;
    text-align: left;
}

.profile-data-table th,
.profile-data-table td {
    padding: 16px;
}

.profile-data-table tbody tr {
    border-bottom: 1px solid #f4d35e;
}

.profile-data-table tbody tr:nth-of-type(even) {
    background-color: #faf0ca;
}

.profile-data-table tbody tr:last-of-type {
    border-bottom: 2px solid #f4d35e;
}

.profile-facts {
    display: flex;
    justify-content: center;
}

.profile-facts-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-facts-list li {
    font-style: italic;
    margin-bottom: 8px;
}

.profile-facts-list li::before {
    margin-right: 28px;
    content: "🧡";
}

.ico-m {
    width: 128px;
    height: 128px;
}

.__rounded {
    border-radius: 50%;
}

.__coming-soon {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background: rgb(244,211,94);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(244, 211, 94, 0.8);
    box-shadow: 1px 1px 3px 1px rgba(244, 211, 94, 0.8);
    cursor: pointer;
}

.__coming-soon:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(244, 211, 94, 0.2);
    box-shadow: 1px 1px 3px 1px rgba(244, 211, 94, 0.2);
}